.header{

    background-color: blue;
    height: 100px;
    display: flex;
}

body{

    margin: 0px;
    background-color: aliceblue;
}

.titolo{

    color: white;
}

.div{

    position: absolute;
    right: 0px;
    top: 30px;
    width: auto;
    display: flex; 
    flex-direction: row;
    

}

.menu{

    margin: 5px;
    color: white;
    
}

article{
    background-color: white;
    min-width: 400px;
    margin: 20px;
    height: auto;
    width: auto;
    border-radius: 5px;
    justify-content: space-evenly;
    
}

.link{
    background-color: white;
    /*display: flex;*/
    min-width: 400px;
    margin: 20px;
    height: 200px;
    width: 500px;
    border-radius: 5px;
    
}

a{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

p{

    color:black;
}

.temp{

    background-color: blue;
    
}

section{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
}

.flex{

    background-color: blue;
    border-radius: 5px;
}

.colore{

    color: white;
}

h1{

    margin: 20px;
}
h1 + p{

    margin: 20px;
}